@page "/board"

<h1>Board</h1>

<table id="board">
    <tr>
        <th class="padColOne" style="background-color: @colorOver"><button @onclick="@(() => Click(@buttonOver))">Overtime</button></th>
        <th class="padColOne" style="background-color: @colorCafe"><button @onclick="@(() => Click(@buttonCafe))">Cafe<br>(Coffee)</button></th>
        <th class="padColOne" style="background-color: @colorStaples"><button @onclick="@(() => Click(@buttonStaples))">Staples <br> (USB Sticks)</button></th>
    </tr>
    <tr>
        <th>Field<br>(Bitcoin Investment)</th>
        <th></th>
        <th>Factory<br>(CPU Cores)</th>
    </tr>
    <tr>

        <th>Training<br>Center</th>
        <th>Overclocking Stack</th>
        <th>Power Plant<br>Power</th>
    </tr>
    <tr>
        <th>License Tiles</th>
        <th></th>
        <th>Con Card</th>
        <th>Con Card</th>
        <th>Con Card</th>
        <th>Con Card</th>
    </tr>
    <tr>
        <th>License Tiles</th>
    </tr>
    <tr>
        <th>License Tiles</th>
    </tr>
    <tr>

        <th>License Tiles</th>
        <th>Player Name</th>
        <th></th>
    </tr>
</table>

@code {

    public ElementReference buttonOver, buttonCafe, buttonStaples;
    public List<ElementReference> elementReferences = new List<ElementReference>(){buttonOver, buttonCafe, buttonStaples };

    private string colorOver, colorCafe, colorStaples;

    public void Click(ElementReference element)
    {
        for (int i = 0; i < length; i++)
        {

        }
    }

}