@page "/board"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<h1>Board</h1>

<table id="board">
    <th>@message</th>



     <tr>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonOver))">Overtime</button></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonCafe))">Cafe<br>(Coffee)</button></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonStaples))">Staples <br> (USB Sticks)</button></th>
    </tr>
    <tr>

        <th class="padColOne"><button @onclick="@(e => Click(e, buttonInvestmentField))">Field<br>(Bitcoin Investment)</button></th>
        <th></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonFactory))">Factory<br>(CPU Cores)</button></th>
    </tr>
    <tr>

        <th class="padColOne"><button @onclick="@(e => Click(e, buttonTrainingCenter))">Training<br>Center</button></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonToolLocation))">Overclocking Stack</button></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonOver))">Power Plant<br>Power</button></th>
    </tr>
    <tr>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonLic1))">License Tiles</button></th>
        <th></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonCon1))">Con Card</button></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonCon2))">Con Card</button></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonCon3))">Con Card</button></th>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonCon4))">Con Card</button></th>
    </tr>
    <tr>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonLic2))">License Tiles</button></th>
    </tr>
    <tr>
        <th class="padColOne"><button @onclick="@(e => Click(e, buttonLic3))">License Tiles</button></th>
    </tr>
    <tr>

        <th class="padColOne"><button @onclick="@(e => Click(e, buttonLic4))">License Tiles</button></th>
        <th>Player Name</th>
        <th></th>
    </tr>






</table>

@functions {
    int buttonCafe = 0;
    int buttonStaples = 1;
    int buttonFactory = 2;
    int buttonPowerPlant = 3;
    int buttonOver = 4;
    int buttonInvestmentField = 5;
    int buttonTrainingCenter = 6;
    int buttonToolLocation = 7;

    int buttonLic1 = 10;
    int buttonLic2 = 11;
    int buttonLic3 = 12;
    int buttonLic4 = 13;

    int buttonCon1 = 14;
    int buttonCon2 = 15;
    int buttonCon3 = 16;
    int buttonCon4 = 17;



     private string message = "Select a button to learn its position.";

    private void Click(MouseEventArgs e, int buttonNumber)
    {
        message = $"You selected Button #{buttonNumber}";
    }

}